

.menu-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    margin-right: 36px;
    margin-left: 36px;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    display: inline-block;
    text-transform: uppercase;
}
    
.link{
    text-decoration: none;
    color: #FF0000;
}
        
nav{
    text-align: center;
}

.img{
    width: 100vw;
}   

.main-head-text{
    text-align: center;
    
}

.head-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin: 48px;
    display: inline-block;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 0 67.5px 28px;
}

div{
    text-align: center;
}

.btn{
   font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin-top: 38px;
    margin-bottom: 42px;
    border: 0;
    cursor: pointer;
}

footer{
    text-align: right;
    padding-top: 40px;
    padding-bottom: 29px;
    padding-right: 105px;
}

.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
